<launch>
  <arg name="path" default="/home/jaes/catkin_ws/src/pwm_control/script/ros_serial.sh" />
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node"  />
  <node name="pwm_control" pkg="pwm_control" type="lane_detect_node">
    <param name="cmd" value="$(arg path)" />
  </node>
  <node name="rosserial" pkg="rosserial_python" type="serial_node.py" args="_port:=/dev/ttyACM0" />
</launch>
